.d {
    border: solid black 1px;
}



.products-wrapper{
    position: relative;
}

.a-wrapper{
    /* width: 200px;
    height: 300px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad{
    display: flex;
    flex-direction: column;
  
}

.ad img{
    height: 150px;
    width: 150px;
}

.intro-text{
    max-width: 500px;;
}

.product{
    min-height: 100px;
    min-width: 100px;
    background-color: rgba(131, 131, 131, 0.507);
    border-radius: 50%;
}